# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://dcsgfkdertxphlslpcew.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjc2dma2RlcnR4cGhsc2xwY2V3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzNjI1ODIsImV4cCI6MjA4NTkzODU4Mn0.9a9gzpM9sEmMQ9m0EKJhZQnb-16pfaAoymyzovSC6A4

# Admin Configuration (Optional - for default admin email)
ADMIN_EMAIL=SHOPINPOCKETKING@shopinpocket.co.tz
