NEXT_PUBLIC_SUPABASE_URL=https://rovllntrkzncwgbqejpn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJvdmxsbnRya3puY3dnYnFlanBuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzMjc4MTYsImV4cCI6MjA4NTkwMzgxNn0.k97wY_POUJ6KNVcNnDdNZCyZjGxQkrKI9uuMAu8HFZc
